$grid-size: 300px;

* {
    color: white
}
.btn-reset{
    padding: 15px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    background-color: white;
    align-content: center;
    color: black;
    font-weight: 800;
    border: none;
    cursor: pointer;
    outline: none;
}
.btn-reset:active {
    color: gray;
}
.grid {
    width: $grid-size;
    height: $grid-size;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    .grid__field {
        width: $grid-size / 3;
        height: $grid-size / 3;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 5rem;
        }
    }
}
.br{
    border-right: 5px solid white;
}
.bb{
    border-bottom: 5px solid white;
}
.bl{
    border-left: 5px solid white;
}
.bt{
    border-top: 5px solid white;
}
.container{
    margin: 10vh auto 0;
    width: $grid-size;
}
.gameOver{
    text-align: center;
    font-size: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
}
.score-board h1{
    padding: 0 20px;
}