.App{
    display: flex;
    justify-content: center;
    margin-top: calc(50vh - 200px);
}
.grid{
    display: grid;
    max-width: 18.75rem;
    max-height: 18.75rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid__field{
    border: 2px solid black;
    width: 6.25rem;
    height: 6.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid__field h1{
    font-size: 5rem;
}